<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input type="text" placeholder="enter text to speak" [(ngModel)]="text" fill="outline"></ion-input>
  <ion-button expand="block" (click)="speak()">Speak</ion-button>
  <ion-button expand="block" (click)="speakWithOptions()">Speak with Options</ion-button>

</ion-content>
